<!---------------------------------------------->
<!--Extension for 4 Dosen ---------------------->
<!---------------------------------------------->
<!------->
<!--dose Nr 1------------------------------------>
<div class="item-list-2">
    <div class="item">
      <label class="myroom" id='room1' for="zi1">zimmer1</label>
    </div>
    <div class="item">
      <button class="button4" type='button' id='dev1_toggle'>Toggle</button>
      <label class="mylabel" id='dev1_value' for="dev1_toggle">Aus</label>
    </div>
    <div class="item">
      <button class="button4" type='button' id='dev1_auto'>Toggle</button>
        <label class="mylabel" id='dev1_autovalue' for="dev1_auto">Auto</label>
    </div>
    <div class="item">
       <label class="mylabel" id='typ1' for="ty1">Typ 1</label>
    </div>
  </div>

  <!--dose Nr 2------------------------------------>
  <div class="item-list-2">
    <div class="item">
      <label class="myroom" id='room2' for="zi2">Zimmer2</label>
      </div>
    <div class="item">
      <button class="button4" type='button' id='dev2_toggle'>Toggle</button>
        <label class="mylabel" id='dev2_value' for="dev2_toggle">Aus</label>  
    </div>
    <div class="item">
      <button class="button4" type='button' id='dev2_auto'>Toggle</button>
        <label class="mylabel" id='dev2_autovalue' for="dev2_auto">Manuell</label> 
    </div>
    <div class="item">
      <label class="mylabel" id='typ2' for="ty3">Typ 2</label>
      </div>
  </div>

  <!--dose Nr 3------------------------------------>
  <div class="item-list-2">
    <div class="item">
      <label class="myroom" id='room3' for="zi3">Zimmer3</label>
      </div>
    <div class="item">
        <button class="button4" type='button' id='dev3_toggle'>Toggle</button>
        <label class="mylabel" id='dev3_value' for="dev3_toggle">Aus</label>   
      </div>
    <div class="item">
      <button class="button4" type='button' id='dev3_auto'>Toggle</button>
        <label class="mylabel" id='dev3_autovalue' for="dev3_auto">Auto</label>
    </div>
    <div class="item">
      <label class="mylabel" id='typ3' for="ty3">Typ 2</label>
      </div>
  </div>
  
  <!--dose Nr 4------------------------------------>
  <div class="item-list-2">
    <div class="item">
      <label class="myroom" id='room4' for="zi4">Zimmer4</label>
      </div>
    <div class="item">
        <button class="button4" type='button' id='dev4_toggle'>Toggle</button>
        <label class="mylabel" id='dev4_value' for="dev4_toggle">Aus</label>   
      </div>
    <div class="item">
      <button class="button4" type='button' id='dev4_auto'>Toggle</button>
        <label class="mylabel" id='dev4_autovalue' for="dev4_auto">Auto</label>
    </div>
    <div class="item">
      <label class="mylabel" id='typ4' for="ty4">Typ 3</label>
      </div>
  </div>
