<!---------------------------------------------->
<!--Extension for 1 Dose ---------------------->
<!---------------------------------------------->
<!------->
<!--dose Nr 1------------------------------------>
<div class="item-list-2">
    <div class="item">
      <label class="myroom" id='room1' for="zi1">zimmer1</label>
    </div>
    <div class="item">
      <button class="button4" type='button' id='dev1_toggle'>Toggle</button>
      <label class="mylabel" id='dev1_value' for="dev1_toggle">Aus</label>
    </div>
    <div class="item">
      <button class="button4" type='button' id='dev1_auto'>Toggle</button>
        <label class="mylabel" id='dev1_autovalue' for="dev1_auto">Auto</label>
    </div>
    <div class="item">
       <label class="mylabel" id='typ1' for="ty1">Typ 1</label>
    </div>
  </div>

  

  