{# braucht layout.html    #}

{% extends "layout.html" %}
{% block title %} Switcher3 Info {% endblock %}
{% block body %} 

<div class="header">
  <h2>Switcher 3  Info</h2>
  <div class="topnav">
    <a href="swlog.html">Log</a>
    <a href="swwetter.html">Wetter</a>
    <a href="swinfo.html">Info</a>
    <a href="swactions.html">Aktionen</a>
    <a href="index.html">Home</a>
  </div>
</div>


<div class="wrapperbutton">
  <div class="item-list-1">

      {% for item in info_2_list -%}
      <div class="item">{{ item }}</div>
  
      {% endfor %}
    
  </div>

</div>


<div class="footer">
  <p>Switcher 3 Application
  </p>
</div>


{% endblock %}
</html>