{# braucht layout.html    #}

{% extends "layout.html" %}
{% block title %} Switcher3 Logfile {% endblock %}
{% block body %}
<style>
	.button4 {
	  background-color: #478dbb; /* blue */
	}
</style>

<!-- Navigation -->
 <div class="header">
	<h2>Switcher 3  Logfile</h2>
	<div class="topnav">
		<a href="swlog.html">Log</a>
		<a href="swwetter.html">Wetter</a>
		<a href="swinfo.html">Info</a>
		<a href="swactions.html">Aktionen</a>
		<a href="index.html">Home</a>
	  </div>
  </div>


  <div class="container">
	<div class="wrapperlog">
	  <div class="longcontent">
		{% for item in logzeilen -%}
					 {{ item }}  </br>
					  {% endfor %}

	</div>
	</div>
	<p class=red> Hinweis: {{mqtttext}} </p>


  <!-- Reboot und ShutDown Button -->

  {% if show_reboot == True %}
  <div class="wrapperbutton">

  <div class="item-list-2">


	<div class="item2">
	<form  method="post" action="{{ url_for('reboot') }}">
		<input class="button4" name="boot" type="submit" value="Reboot Pi"></span><br />
	</form>

	</div>
	<div class="item2">
	  <form  method="post" action="{{ url_for('shutdown') }}">
		<input class="button4" name="halt" type="submit" value="ShutDown Pi"></span><br />
	  </form>
	</div>

	<div class="item2">
	  <form  method="post" action="{{ url_for('swdosen') }}">
		<input class="button4" name="anzdosen" type="submit" value="Anzahl Dosen"></span><br />
	 </form>
	</div>

	<div class="item2">
		<form  method="post" action="{{ url_for('removelog') }}">
		<input class="button4" name="log" type="submit" value="Clear Log"></span><br />
	 </form>
	</div>

</div>
</div> 
    {% endif %}


	<div class="footer">
		<p>Switcher 3 Application</p>
	</div>


</div>
</div>
{% endblock %}
</html>
